In [2]:
import pandas as pd

In [3]:
pd.DataFrame

pandas.core.frame.DataFrame

In [10]:
data = { "Name": ["Grapefruit","Lemon","Strawberry"],
        "Color":["Orange","Yellow","Red"],
        "Taste": ["Bitter", "Sour", "Sweet"]}

df= pd.DataFrame(data)

df

         Name   Color   Taste
0  Grapefruit  Orange  Bitter
1       Lemon  Yellow    Sour
2  Strawberry     Red   Sweet

In [20]:
df.head()

Empty DataFrame
Columns: [Name, Color, Taste]
Index: []

In [21]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [32]:
df.loc[:, ["Name"]]

         Name
0  Grapefruit
1       Lemon
2  Strawberry

In [39]:
df.iloc[0]

Name     Grapefruit
Color        Orange
Taste        Bitter
Name: 0, dtype: object

In [40]:
df.to_csv('data.csv')

One reason dynamic, interactive data visualizations are useful to communicate data is because it is a quick way to snapshot the message of the data, while also encouraging people to engage and explore their meanings and make connections. Murray mentioned how humans are naturally visual creatures and often try to identify and interpret patterns. Interactive data visualizations have the power to convey complex data in more digestible ways for viewers.